header{
    background: #E8E4E4;
    height: 50px;
}

nav{
    height: 100%;
    text-align: center;
}

nav > a{
    line-height: 50px;
}

thead{
    font-weight: bold;
}

thead  span{
    cursor: pointer;
}

.auth-form{
    width: 90%;
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #B3AAAA;
    padding: 6px;
    border-radius: 10px;
}

.auth-form input[type='checkbox']{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.show{
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
}

.show span{
    font-weight: bold;
    margin-right: 10px;
}

img{
    margin: 5px;
}
.error{
    color: red;
    display: block;
}

.tree{
    width: 100%;
    max-width: 500px;
    margin: auto;
}